@model EmployeeEF.CATHEDRA

@{
    ViewBag.Title = "Видалити";
}

<h2>Видалення</h2>

<h3>Ви впевнені, що хочете видалити цю кафедру?</h3>
<div>
    <h4>КАФЕДРА</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.C_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEPARTMENT.D_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEPARTMENT.D_NAME)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Видалити" class="btn btn-default" /> |
        @Html.ActionLink("Поверутися до списку кафедр", "Index")
        @{
        if (ViewBag.DeleteUnsuccessfull != null)
        {
            <p class="text-danger">@ViewBag.DeleteUnsuccessfull</p>
    }
        }
    </div>
    }
</div>
