@model IEnumerable<EmployeeEF.CATHEDRA>

@{
    ViewBag.Title = "Кафедри";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Створити нову", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.C_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPARTMENT.D_NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.C_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPARTMENT.D_NAME)
        </td>
        <td>
            @Html.ActionLink("Редагувати", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Деталі", "Details", new { id=item.ID }) |
            @Html.ActionLink("Видалити", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
