@model IEnumerable<EmployeeEF.EMPLOYEE>

@{
    ViewBag.Title = "Пошук";
}
<h2>Пошук</h2>

<table class="table myTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NAME_E)
        </th>
        <th>
            Email
        </th>

        <th>
            @Html.DisplayNameFor(model => model.DEPARTMENT1.D_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CATHEDRA1.C_NAME)
        </th>
        <th>
            Звання
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RATING)
        </th>





        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NAME_E)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMAIL1.ADRESS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DEPARTMENT1.D_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CATHEDRA1.C_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DEGREE1.DEGREELIST.D_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RATING)
            </td>

            <td>
                @Html.ActionLink("Редагувати", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Деталі", "Details", new { id = item.ID }) |
                @Html.ActionLink("Видалити", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
